html body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Noto Sans TC', sans-serif;
}

// 主色
$primaryColor:#ffffff;
$primaryDarkColor:#000000;
// 副主色
$secondaryDarkColor: #0066FF;
$secondaryLightColor: #F9AE66;
// 文字色
$textColor: #606266;
$textDarkColor: #ffffff;
// 背景色
$primaryBackgroundColor: #ededed;
$primaryBackgroundDarkColor: #000000;

// 亮色系主題
[data-theme="light"] {
  background-color: $primaryBackgroundColor;
  color: $textColor;

  --primaryBackgroundColor: #ededed;
  --textColor: #606266;
  --secondaryDarkColor: #0066FF;
  --highlightBottomColor: red;
  --secondaryBackgroundColor: #ededed;
  // --filterBarBackgroundColor:#ffffff;
  // --filterBarTextColor:#606266;
}

// 暗色系主題
[data-theme="dark"] {
  background-color: $primaryBackgroundDarkColor;
  color: $textDarkColor;

  --primaryBackgroundColor: #000000;
  --textColor: #ffffff;
  --secondaryDarkColor: #0066FF;
  --highlightBottomColor: red;
  --secondaryBackgroundColor: #606266;
  // --filterBarBackgroundColor:#242529;
  // --filterBarTextColor:#ffffff;
}

// elememt ui 共用style
.el-drawer__header {
  background-color: $secondaryDarkColor !important;
  margin-bottom: -1px !important;
}

.el-drawer__wrapper {
  background-color: $secondaryDarkColor !important;
}

.el-drawer__body {
  background-color: $secondaryDarkColor !important;
}

.el-menu {
  color: var(--textColor);
  background-color: var(--secondaryBackgroundColor) !important;
  border-right: 1px solid  var(--textColor)  !important;
}

.el-menu .el-menu-item.is-active {
  color: var(--secondaryDarkColor);
}

.el-menu .el-menu-item {
  color: var(--textColor);
}

.el-menu .el-menu-item:hover {
  color: var(--secondaryDarkColor);
}

.el-dropdown__popper{
  border: none !important;
}

.el-dropdown-menu {
  background-color: var(--secondaryBackgroundColor) !important;
}

.el-dropdown-menu__item {
  color: var(--textColor) !important;
}

.el-dropdown-menu__item:hover {
  color: var(--secondaryDarkColor) !important;
}

.el-dropdown-menu__item:focus {
  background-color: transparent !important;
}

.el-dropdown__popper.el-popper[data-popper-placement^=bottom] .el-popper__arrow:before{
  background-color: var(--secondaryBackgroundColor) !important;
  border: none;
}